.calculator {
  padding: 1rem;
  /* width: 600px; */
}

.screen {
  margin: 10px 20px 40px 20px;
  text-align: right;
  color: rgba(34, 34, 34, 0.911);
  font-size: 4rem;
  padding: 2rem 2rem;
  min-height: 5rem;
}

/* SHAPES  */
.rounded {
  border-radius: 20px;
}

.squared {
  border-radius: 1px;
}

/* LAYOUT */
.container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
}

.tall {
  grid-area: 4 / 4 / 6 / 5;
  align-self: stretch;
}

.btn {
  border: none;
  color: rgb(228, 228, 228);
  font-size: 2rem;
  padding: 1rem;
}

.large {
  grid-area: 5 / 1 / 6 / 3;
}

/* COLORS */

.dark {
  background-color: rgb(39, 39, 39);
}

.green {
  background-color: rgb(178, 195, 122);
}

.black {
  background-color: rgb(47, 47, 47);
}

.grey {
  background-color: dimgray;
}

.orange {
  background-color: rgb(255, 115, 64);
}
