html,
body,
h1,
h2 {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(to right, rgb(48, 103, 173), rgb(66, 179, 85));
}

.calculator {
  padding: 1rem;
  margin: 0px auto 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 630px;
}

.screen {
  margin: 20px 20px 40px 20px;
  text-align: right;
  color: rgba(34, 34, 34, 0.911);
  font-size: 4rem;
  padding: 2rem 2rem;
  min-height: 5rem;
  font-family: monospace;
}

/* SHAPES  */
.rounded {
  border-radius: 20px;
}

.squared {
  border-radius: 1px;
}

/* BUTTONS LAYOUT */
.container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 4%;
}

.tall {
  grid-area: 4 / 4 / 6 / 5;
  align-self: stretch;
}

.btn {
  border: none;
  color: rgb(228, 228, 228);
  font-size: 2rem;
  padding: 1rem;
}

.large {
  grid-area: 5 / 1 / 6 / 3;
}

/* COLORS */

.dark {
  background-color: rgb(65, 65, 65);
}

.green {
  background-color: rgb(178, 195, 122);
}

.black {
  background-color: rgb(47, 47, 47);
}

.grey {
  background-color: dimgray;
}

.orange {
  background-color: rgb(255, 115, 64);
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px rgb(47, 47, 47);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(49, 49, 49);
  box-shadow: 3px 3px 5px 6px rgb(42, 42, 42);
}

/* Titles */
h1 {
  font-family: monospace;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  color: blue; /* Fallback solid color */
  -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

  /* Text color gradient properties */
  background: -webkit-linear-gradient(rgb(185, 49, 15), rgb(255, 237, 72));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 500;
  color: grey;
  text-align: center;
  padding: 1rem 0px 2rem 0px;
}
