html,
body,
h1,
h2 {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(to bottom right, var(--blue), var(--dark-green));
  height: 100dvh;
}

.calculator {
  margin: auto;
  display: grid;
  grid-template-areas:
    'screen screen screen screen'
    'screen screen screen screen'
    'clear inverse divide multiply'
    'seven eight nine add'
    'four five six subtract'
    'one two three equal'
    'zero zero dot equal';
  max-width: 500px;
  border-radius: var(--border-radius);
}

.screen {
  border: none;
  border-start-start-radius: var(--border-radius);
  border-start-end-radius: var(--border-radius);
  grid-area: screen;
  text-align: right;
  color: var(--black);
  font-size: 2rem;
  padding: 2rem;
  min-height: 4rem;
  font-family: monospace;
}

.btn {
  appearance: none;
  border: none;
  color: var(--white);
  font-size: 2rem;
  padding-inline: 0.5rem;
  padding-block: 1rem;
}

.equal {
  grid-area: equal;
  border-end-end-radius: var(--border-radius);
}

.zero {
  grid-area: zero;
  border-end-start-radius: var(--border-radius);
}

/* COLORS */

:root {
  --main-color: #f06d06;
  --green: hsl(74, 38%, 62%);
  --dark-green: hsl(106, 75%, 55%);
  --white: hsl(0, 0%, 95%);
  --grey: hsl(0, 0%, 41%);
  --dark: hsl(0, 0%, 18%);
  --black: hsl(0, 0%, 8%);
  --orange: hsl(16, 100%, 63%);
  --red: rgb(185, 49, 15);
  --yellow: rgb(255, 237, 72);
  --blue: hsl(214, 87%, 59%);
  --border-radius: 1rem;
}

.white {
  background-color: var(--white);
}

.dark {
  background-color: var(--dark);
}

.green {
  background-color: var(--green);
}

.black {
  background-color: var(--black);
}

.grey {
  background-color: var(--grey);
}

.orange {
  background-color: var(--orange);
}

.shadow {
  box-shadow: 3px 3px 5px 0px var(--dark);
}

/* Titles */
header {
  font-family: monospace;
  font-size: 3em;
  font-weight: 900;
  text-align: center;

  margin-block-start: 1em;
  margin-block-end: 2em;

  color: var(--orange); /* Fallback solid color */
  -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

  /* Text color gradient properties */
  background: -webkit-linear-gradient(var(--red), var(--yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 500;
  color: var(--grey);
  text-align: center;
  padding: 1rem 0px 2rem 0px;
  text-shadow: 2px 2px 2px var(--dark);
}
