html,
body,
h1,
h2 {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(to right, var(--blue), var(--dark-green));
  height: 100%;
}

.calculator {
  padding: 1rem;
  margin: 40px auto 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 630px;
}

.screen {
  margin: 20px 20px 40px 20px;
  text-align: right;
  color: var(--black);
  font-size: 4rem;
  padding: 2rem 2rem;
  min-height: 5rem;
  font-family: monospace;
}

/* SHAPES  */
.rounded {
  border-radius: 20px;
}

.squared {
  border-radius: 1px;
}

/* BUTTONS LAYOUT */
.container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 4%;
}

.tall {
  grid-area: 4 / 4 / 6 / 5;
  align-self: stretch;
}

.btn {
  border: none;
  color: var(--white);
  font-size: 2rem;
  padding: 1rem;
}

.large {
  grid-area: 5 / 1 / 6 / 3;
}

/* COLORS */

:root {
  --main-color: #f06d06;
  --green: hsl(74, 38%, 62%);
  --dark-green: hsl(106, 75%, 55%);
  --white: hsl(0, 0%, 95%);
  --grey: hsl(0, 0%, 41%);
  --dark: hsl(0, 0%, 18%);
  --black: hsl(0, 0%, 8%);
  --orange: hsl(16, 100%, 63%);
  --red: rgb(185, 49, 15);
  --yellow: rgb(255, 237, 72);
  --blue: hsl(214, 87%, 59%);
}

.white {
  background-color: var(--white);
}

.dark {
  background-color: var(--dark);
}

.green {
  background-color: var(--green);
}

.black {
  background-color: var(--black);
}

.grey {
  background-color: var(--grey);
}

.orange {
  background-color: var(--orange);
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px var(--dark);
  -webkit-box-shadow: 3px 3px 5px 6px var(--dark);
  box-shadow: 3px 3px 5px 6px var(--dark);
}

/* Titles */
h1 {
  font-family: monospace;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  color: var(--orange); /* Fallback solid color */
  -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

  /* Text color gradient properties */
  background: -webkit-linear-gradient(var(--red), var(--yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 500;
  color: var(--grey);
  text-align: center;
  padding: 1rem 0px 2rem 0px;
  text-shadow: 2px 2px 2px var(--dark);
}
