:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --main-color: hsl(26, 95%, 48%);
  --green: hsl(74, 38%, 62%);
  --dark-green: hsl(106, 75%, 55%);
  --white: hsl(0, 0%, 95%);
  --grey: hsl(0, 0%, 41%);
  --dark-grey: hsl(0, 0%, 18%);
  --black: hsl(0, 0%, 8%);
  --orange: hsl(16, 100%, 63%);
  --red: rgb(185, 49, 15);
  --yellow: rgb(255, 237, 72);
  --blue: hsl(214, 87%, 59%);
  --border-radius: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--main-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom right, var(--blue), var(--dark-green));
  height: 100dvh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

header {
  font-family: monospace;
  font-size: 2em;
  font-weight: 900;
  text-align: center;

  margin-block-start: 1em;
  margin-block-end: 2em;

  color: var(--orange); /* Fallback solid color */
  -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

  /* Text color gradient properties */
  background: -webkit-linear-gradient(var(--red), var(--yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.calculator {
  margin: auto;
  display: grid;
  grid-template-areas:
    'screen screen screen screen'
    'screen screen screen screen'
    'clear inverse divide multiply'
    'seven eight nine add'
    'four five six subtract'
    'one two three equal'
    'zero zero dot equal';
  max-width: 500px;
  border-radius: var(--border-radius);
}

.screen {
  border: none;
  border-start-start-radius: var(--border-radius);
  border-start-end-radius: var(--border-radius);
  grid-area: screen;
  text-align: right;
  color: var(--black);
  font-size: 2rem;
  padding: 2rem;
  min-height: 4rem;
  font-family: monospace;
}

.btn {
  appearance: none;
  border-radius: 0;
  color: var(--white);
  font-size: 2rem;
  padding-inline: 0.5rem;
  padding-block: 1rem;
}

.equal {
  grid-area: equal;
  border-end-end-radius: var(--border-radius);
}

.zero {
  grid-area: zero;
  border-end-start-radius: var(--border-radius);
}

/* COLORS */

.white {
  background-color: var(--white);
}

.dark {
  background-color: var(--dark);
}

.green {
  background-color: var(--green);
}

.black {
  background-color: var(--black);
}

.grey {
  background-color: var(--grey);
}

.orange {
  background-color: var(--orange);
}

.shadow {
  box-shadow: 3px 3px 5px 0px var(--dark-grey);
}
