:root {
  --main-color: hsl(26deg 95% 48%);
  --green: hsl(74deg 38% 62%);
  --dark-green: hsl(106deg 75% 55%);
  --white: hsl(0deg 0% 95%);
  --grey: hsl(0deg 0% 41%);
  --dark-grey: hsl(0deg 0% 18%);
  --black: hsl(0deg 0% 8%);
  --orange: hsl(16deg 100% 63%);
  --red: rgb(185 49 15);
  --yellow: rgb(255 237 72);
  --blue: hsl(214deg 87% 59%);
  --border-radius: 1rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, var(--blue), var(--dark-green));
  min-width: 500px;
  height: 100dvh;
  min-height: 100dvh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 5em;
}

header {
  font-family: monospace;
  font-weight: 900;
  margin-block: 1em 2em;
  color: var(--orange); /* Fallback solid color */

  /* Text color gradient properties */
  background: linear-gradient(var(--red), var(--yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
