name: Deploy
on:
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read # for checkout
  id-token: write

  # Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: 'deploy'
  cancel-in-progress: false

jobs:
  # Build & Test
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install
      - name: Format the code
        run: bun run lint
      - name: Build App
        run: bun run build
      - name: Save build files
        uses: actions/upload-artifact@v3
        with:
          name: dist
          if-no-files-found: error
          path: dist
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: dist

      - name: Run tests
        run: bun run test:coverage
      - name: Run End-to-end tests
        uses: cypress-io/github-action@v6 # This action needs a yarn.lock file or equivalent to work :(
        with:
          start: bun run preview --port=5173
        timeout-minutes: 5
